@media screen and (max-width: 1200px) {
  .primary-header {
    padding: 2rem 2rem 0 2rem;
  }

  .primary-header > .primary-navigation ul {
    gap: 2rem;
  }

  .primary-header > .primary-navigation ul li a {
    font-size: 1.4rem;
  }
  .primary-header .button,
  .container div .button,
  .mainSectionBottom button,
  .containerLast button {
    padding: 0.8rem 1rem;
  }
  /* Hero Section */
  .mainSectionMiddle {
    padding: 3rem;
  }
  .container div h1 {
    font-size: 3.8rem;
  }
  .container .heroImg img {
    width: 480px;
  }
  .container div:nth-child(2) > button {
    width: 50%;
  }
  .mainSectionTop {
    padding: 3.4rem;
  }

  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 1.7rem;
  }

  /* .container div:nth-child(1) {
    gap: 1rem;
  } */

  /*Body sections*/
  .containerTwo div h2 {
    font-size: 2rem;
  }
  .innerContainerTwo {
    gap: 1rem;
  }
  .paragraph-container h3 {
    font-size: 1.8rem;
  }

  /* Team testmonial*/

  .mainSectionBottom h2 {
    font-size: 3rem;
  }

  /*Footer header */
  .containerSimp p {
    font-size: 3.5rem;
  }
  /* footer */
  footer {
    padding: 3rem 3rem;
  }
  .mana {
    gap: 3.5rem;
  }
  .fa-brands {
    font-size: 1.8rem;
  }
  .footer-list div ul li a {
    font-size: 1.5rem;
  }
  form input {
    padding: 1rem 2rem;
  }
  form button {
    padding: 0.8rem 1.8rem;
  }
  form input::placeholder {
    font-size: 1rem;
  }
  .formContainer p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1112px) {
  .primary-header {
    padding: 2rem 2rem 0 2rem;
  }

  .primary-header > .primary-navigation ul {
    gap: 1rem;
  }

  .primary-header > .primary-navigation ul li a {
    font-size: 1.2rem;
  }

  .container div h1 {
    font-size: 3.4rem;
  }
  .container .heroImg img {
    width: 480px;
  }

  .containerSimp p {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 992px) {
  .primary-header {
    padding: 2rem 2rem 0 2rem;
  }

  .primary-header > .primary-navigation ul {
    gap: 0.8rem;
  }

  .primary-header > .primary-navigation ul li a {
    font-size: 1.25rem;
  }
  .primary-header .button,
  .container div .button,
  .mainSectionBottom button,
  .containerLast button {
    padding: 0.8rem 0.8rem;
  }
  /* Hero Section */
  .container div h1 {
    font-size: 2.5rem;
  }
  .container .heroImg img {
    width: 480px;
  }
  .mainSectionTop {
    padding: 3.4rem;
  }

  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 1rem;
  }
  /* 
  .container div:nth-child(1) {
    gap: 1rem;
  } */

  /*Body sections*/
  .containerTwo div h2 {
    font-size: 1.5rem;
  }
  .innerContainerTwo {
    gap: 1rem;
  }
  .paragraph-container h3 {
    font-size: 1.2rem;
  }

  /* Team testmonial*/

  .mainSectionBottom h2 {
    font-size: 2.6rem;
  }

  .mainSectionLast {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  /*Footer header */
  .containerSimp p {
    font-size: 2.9rem;
  }

  .containerLast .button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 910px) {
  .primary-header {
    padding: 2rem 2rem 0 2rem;
  }

  .primary-header > .primary-navigation ul {
    gap: 1rem;
  }

  .primary-header > .primary-navigation ul li a {
    font-size: 1rem;
  }
  .primary-header .button,
  .container div .button,
  .mainSectionBottom button,
  .containerLast button {
    padding: 0.6rem 0.8rem;
  }
  /* Hero Section */
  .mainSectionMiddle {
    padding: 3rem;
  }
  .container div h1 {
    font-size: 2.5rem;
  }
  .container .heroImg img {
    width: 380px;
  }
  .mainSectionTop {
    padding: 3.4rem;
  }

  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 1rem;
  }

  /* .container div:nth-child(1) {
    gap: 1rem;
  } */

  /*Body sections*/
  .containerTwo div h2 {
    font-size: 1.5rem;
  }
  .innerContainerTwo {
    gap: 1rem;
  }
  .paragraph-container h3 {
    font-size: 1.2rem;
  }

  /* Team testmonial*/

  .mainSectionBottom h2 {
    font-size: 2.6rem;
  }

  .mainSectionLast {
    padding: 2rem;
  }

  /*Footer header */
  .containerSimp p {
    font-size: 2.8rem;
  }

  .containerLast .button {
    width: 20%;
  }
  /* footer */
  footer {
    padding: 2rem 2rem;
  }
  .mana {
    gap: 3.2rem;
  }
  .fa-brands {
    font-size: 1.2rem;
  }
  .footerWrapper div ul li a {
    font-size: 1rem;
  }
  form input {
    padding: 0.8rem 1.6rem;
  }
  form input::placeholder {
    font-size: 0.8rem;
  }
  .formContainer p {
    font-size: 0.8rem;
  }
}

/* @media screen and (max-width: 875px) {
  .containerSimp p {
    font-size: 1.4rem;
  }
} */

@media screen and (max-width: 768px) {
  .primary-header a img,
  .mana a img {
    width: 110px;
  }

  .primary-header > .primary-navigation ul {
    gap: 0.7rem;
  }

  .primary-header > .primary-navigation ul li a {
    font-size: 0.8rem;
  }
  .primary-header .button,
  .container div .button,
  .mainSectionBottom button,
  .containerLast button {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
  }
  /* Hero Section */
  .container div h1 {
    font-size: 2rem;
  }
  .container .heroImg img {
    width: 280px;
  }
  .mainSectionTop {
    padding: 3rem;
  }

  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 0.8rem;
  }

  .container div:nth-child(2) {
    gap: 1rem;
  }

  /*Body sections*/
  .containerTwo div h2 {
    font-size: 1rem;
  }
  .innerContainerTwo {
    gap: 1rem;
  }
  .paragraph-container h3 {
    font-size: 0.9rem;
  }
  .dotContainer .dot span {
    padding: 0.2rem 1rem;
  }

  /* Team testmonial*/

  .mainSectionBottom h2 {
    font-size: 2rem;
  }

  /*Footer header */
  .containerSimp p {
    font-size: 1.6rem;
  }

  .containerLast .button {
    padding: 0.7rem 0.5rem;
    width: 21%;
  }

  /* footer */
  footer {
    padding: 2rem 2rem;
  }
  .mana {
    gap: 3.2rem;
  }
  .fa-brands {
    font-size: 1.2rem;
  }
  .footer-list div ul li a {
    font-size: 0.7rem;
  }
  form input {
    padding: 0.8rem 1rem;
  }
  form input::placeholder {
    font-size: 0.8rem;
  }
  .formContainer p {
    font-size: 0.8rem;
  }
  form button {
    padding: 0.8rem 1.2rem;
  }
}

@media screen and (max-width: 620px) {
  .primary-header > .primary-navigation ul {
    gap: 0.4rem;
  }

  .primary-header > .primary-navigation ul li a {
    font-size: 0.8rem;
  }

  .primary-header a img,
  .mana a img {
    width: 100px;
  }
  .primary-header .button,
  .container div .button,
  .mainSectionBottom button,
  .containerLast button {
    padding: 0.5rem 0.6rem;
    font-size: 0.7rem;
  }
  /* Hero Section */
  .container div h1 {
    font-size: 1.8rem;
  }
  .container .heroImg img {
    width: 250px;
  }

  .dotContainer .dot span {
    padding: 0.1rem 0.4rem;
  }

  /*Footer header */
  .containerSimp p {
    font-size: 1.4rem;
  }

  .containerLast .button {
    padding: 0.7rem 0.5rem;
    width: 21%;
  }

  .fa-brands {
    font-size: 1.2rem;
  }
  .mana {
    gap: 2.8rem;
  }
}

@media screen and (max-width: 576px) {
  .primary-header > .primary-navigation ul {
    gap: 0.4rem;
  }

  .primary-header > .primary-navigation ul li a {
    font-size: 0.7rem;
  }

  .primary-header a img,
  .mana a img {
    width: 100px;
  }

  /* Hero Section */
  .container div h1 {
    font-size: 1.6rem;
  }
  .container .heroImg img {
    width: 220px;
  }
  .mainSectionTop {
    padding: 3rem;
  }

  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 0.8rem;
  }

  /*Footer header */
  .containerSimp p {
    font-size: 1.4rem;
  }

  .containerLast .button {
    padding: 0.7rem 0.6rem;
    width: 25%;
  }

  .fa-brands {
    font-size: 1.2rem;
  }

  .mana {
    gap: 2.8rem;
  }

  .fa-brands {
    font-size: 1.2rem;
  }
  .footer-list div ul li a {
    font-size: 0.7rem;
  }
  form input {
    padding: 0.7rem 0.7rem;
  }
  form input::placeholder {
    font-size: 0.6rem;
  }
  .formContainer p {
    font-size: 0.8rem;
  }
  form button {
    padding: 0.6rem 1rem;
  }
}

@media screen and (max-width: 543px) {
  /*Footer header */
  .containerSimp p {
    font-size: 1.4rem;
  }

  .containerLast .button {
    padding: 0.7rem 0.6rem;
    width: 28%;
  }
  .footer-list div ul li a {
    font-size: 0.6rem;
  }
  form input {
    padding: 0.5rem 0.5rem;
  }
}

@media screen and (max-width: 520px) {
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .primary-navigation,
  .primary-header > button {
    display: none;
  }
  .navIcon ion-icon {
    display: inline-block;
    font-size: 2.4rem;
    cursor: pointer;
  }

  .primary-header a img,
  .mana a img {
    width: 146px;
  }

  .container .heroImg img {
    width: 100%;
  }
  .container div h1 {
    font-size: 2.6rem;
    text-align: center;
  }
  .primary-header .button,
  .container div .button,
  .mainSectionBottom button,
  .containerLast button {
    padding: 0.8rem 1rem;
    font-size: 1rem;
  }
  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 22px;
  }

  .container div:nth-child(2) > button {
    width: 240px;
    margin: 0 auto;
  }

  .containerTwo {
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
  .containerTwo div h2,
  .mainSectionBottom h2 {
    font-size: 2.4rem;
    text-align: center;
  }
  .containerTwo div p {
    text-align: center;
  }

  .dotContainer .dot span {
    padding: 0.6rem 1.2rem;
  }
  .paragraph-container h3 {
    font-size: 1.2rem;
    background-color: #f5af9e;
  }
  .containerTwo .paragraph-container div p {
    text-align: start;
  }

  .imageHead {
    flex-direction: column;
    gap: 1rem;
  }

  .imageContainer {
    padding: 0 0.8rem 0.8rem 0.8rem;
    width: 80%;
  }
  .containerLast {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
  }

  .containerLast .button {
    padding: 0.7rem 0.6rem;
    width: 40%;
  }

  .containerSimp p {
    font-size: 3rem;
    width: 100%;
  }

  .footerWrapper {
    flex-direction: column;
    gap: 1rem;
  }
  .footerWrapper p {
    display: inline-block;
    color: rgb(166, 166, 166);
    margin-top: 3rem;
  }

  .footerWrapper > .formContainer p {
    display: none;
    color: rgb(166, 166, 166);
    margin-top: 3rem;
  }
  form input {
    width: 70%;
    padding: 1.2rem 3rem;
  }
  form input::placeholder {
    font-size: 1.2rem;
  }
  form button {
    padding: 0.8rem 2rem;
  }
  .footer-list {
    flex-direction: row;
    /* justify-content: flex-start; */
  }
  .footer-list div ul li a {
    font-size: 1rem;
  }

  .footerWrapper div ul {
    justify-content: space-between;
    flex-direction: column;
  }

  .mana {
    flex-direction: column;
    /* justify-content: center; */
  }
  .mana .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

  .mana .social-media div img {
    margin: 0 auto;
  }
  .fa-brands {
    /* width: 100%; */
    font-size: 2rem;
  }
}

@media screen and (max-width: 448px) {
  .container div h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 18px;
  }

  .containerSimp p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 425px) {
  .container div h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 18px;
  }

  .containerSimp p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 395px) {
  .container div h1 {
    font-size: 1.7rem;
  }

  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 18px;
  }

  .paragraph-container h3 {
    font-size: 1rem;
  }

  .container div:nth-child(2) > button {
    width: 60%;
    margin: 0 auto;
  }

  .containerTwo div h2,
  .mainSectionBottom h2 {
    font-size: 1.8rem;
  }

  .containerTwo div p {
    font-size: 12px;
  }

  .dotContainer .dot span {
    padding: 0.4rem 0.8rem;
  }

  .paragraph-container h3 {
    font-size: 0.8rem;
    font-weight: 800;
  }

  .containerSimp p {
    font-size: 2rem;
  }
  .containerLast .button {
    padding: 0.7rem 0.6rem;
    width: 50%;
  }
  form input {
    width: 60%;
    padding: 0.8rem 2rem;
  }
  form input::placeholder {
    font-size: 0.4rem;
  }
  form button {
    padding: 0.7rem 1.8rem;
  }

  .footerWrapper p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 340px) {
  .container div h1 {
    font-size: 1.7rem;
  }

  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 18px;
  }

  .paragraph-container h3 {
    font-size: 1rem;
  }

  .container div:nth-child(2) > button {
    width: 60%;
    margin: 0 auto;
  }

  .containerTwo div h2,
  .mainSectionBottom h2 {
    font-size: 1.8rem;
  }

  .containerTwo div p {
    font-size: 12px;
  }

  .dotContainer .dot span {
    padding: 0.4rem 0.8rem;
  }

  .paragraph-container h3 {
    font-size: 0.8rem;
    font-weight: 800;
  }

  .containerSimp p {
    font-size: 2rem;
  }
  .containerLast .button {
    padding: 0.7rem 0.6rem;
    width: 50%;
  }
  form input {
    width: 60%;
    padding: 0.8rem 2rem;
  }
  form input::placeholder {
    font-size: 0.4rem;
  }
  form button {
    padding: 0.7rem 1.8rem;
  }

  .footerWrapper p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 320px) {
  .container div h1 {
    font-size: 1.5rem;
  }

  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 14px;
  }

  .paragraph-container h3 {
    font-size: 1rem;
  }

  .container div:nth-child(2) > button {
    width: 50%;
    font-size: 0.8rem;
    margin: 0 auto;
  }

  .containerTwo div h2,
  .mainSectionBottom h2 {
    font-size: 1.8rem;
  }

  .containerTwo div p {
    font-size: 12px;
  }

  .dotContainer .dot span {
    padding: 0.4rem 0.8rem;
  }

  .paragraph-container h3 {
    font-size: 0.8rem;
    font-weight: 800;
  }

  .containerSimp p {
    font-size: 2rem;
  }
  .containerLast .button {
    padding: 0.7rem 0.6rem;
    width: 50%;
  }
  form input {
    width: 60%;
    padding: 0.8rem 2rem;
  }
  form button {
    padding: 0.7rem 1.8rem;
  }

  .footerWrapper p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 280px) {
  .container div h1 {
    font-size: 1.2rem;
  }
  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 12px;
  }
  .container div:nth-child(2) > button {
    width: 60%;
    font-size: 0.7rem;
  }

  .containerTwo div h2,
  .mainSectionBottom h2 {
    font-size: 1.4rem;
  }
  .container div p,
  .containerTwo div p,
  .imageContainer p {
    font-size: 10px;
  }
  .dotContainer .dot span {
    /* padding: 0.4rem 0.8rem; */
    font-size: 0.7rem;
  }
  .paragraph-container h3 {
    font-size: 0.7rem;
    font-weight: 500;
  }

  .containerSimp p {
    font-size: 1.8rem;
  }
  .containerLast .button {
    padding: 0.7rem 0.6rem;
    width: 60%;
  }
  .footer-list div ul li a {
    font-size: 0.8rem;
  }
  .footerWrapper p {
    font-size: 0.8rem;
  }
}
